*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* stilizzazione body */
body{
    margin: 0;
    background-color: rgba(240, 240, 240, 0.974)
}
/* fine stilizzazione body */


/* stilizzazione div container */
.container{
    background-color: white;
    margin: 40px 250px 20px;
}
/* fine stilizzazione div container */


/* stilizzazione header */
header{
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;

}
img{
    vertical-align: middle;
}
h1{
    display: inline;
}
/* fine stilizzazione header */


/* stilizzazione navbar */
nav{
    padding: 20px 50px;
    border: 2px solid rgba(240, 240, 240, 0.974);
}
input{
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid;
}
.task{
    background-color: rgb(71,173,241);
    color: white;
    border-color: transparent;
}
.section{
    background-color: white;
    color: rgb(156,159,164);
    border-color: rgb(156,159,164);
}
/* fine stilizzazione navbar */


/* stilizzazione secondo div container */

.container2{
    padding: 20px 50px;
}

/* fine stilizzazione secondo div container */
